# Environments
.env
.venv
venv/
ENV/
env.bak/
venv.bak/

# Environment Variables
*.env
**/.env

# Dependencies
node_modules/
__pycache__/
*.pyc

# IDEs and OS
.vscode/
.idea/
.DS_Store

# Build folders
dist/
build/
.next/

# Databases & Vector Stores
*.sqlite3
chroma_data/
*.db

# Logs
*.log
